*.cache
*.cache
La biere pong/projet_SOFA/projet_SOFAContent/obj/x86/Debug/ContentPipeline-.xml
*.cachefile
La biere pong/projet_SOFA/projet_SOFAContent/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache